body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.attr-label {
  font-weight: bold;
  margin-right: 0.5em;
}

.attr-value {
  color: #333;
}
